.logo{
	display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 80px;
    margin-right: 10px;
}

.navbar-inner{
	width: 100%;
	height: 80px;
	background-color: #333333;
	border-radius: 25px;
}
.navbar-inner > a{
	display: inline-block;
	color : #ffffff;
	vertical-align: top;
	margin-right: 20px;
	height: 80px;
	line-height: 80px;
}

.navbar-inner > a:visited{
	color: #cc3399;
}

#mainImage{
    max-width: 400px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

#summary{
	text-align: center;
}

.container > h2{
	text-align: center;
}

.container > article{
	overflow: hidden; 
	border-radius: 15px;
}
.container > article p,h1{
	margin-left: 20px;
}
.container > article:hover{
	background-color: white;
}

.finalScore{
	text-align: center;
}
.finalScore + #button{
	margin:0 auto;
    display:block;
}

#score{
	display: inline-block;
}


#dash > a > button{
    width: 233px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: #00cc00;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Helvetica,sans-serif;
}
tr:hover {
    background-color: #f5f5f5
}
tr:nth-child(even) {
    background-color: #f2f2f2
}

footer > p{
    margin-top: 10px;
}

footer{
    background-color: lightgray;
}

#score{
    font-size: 500%;
}

.btn-options{
	width: 100%;
}

.btn-options > div{
	margin: 10px 10px;
	max-width: 700px;	
}
.btn-options button{
	width: 100%;
	max-width: 300px;
}

#cpmt{
	width: 100%;
	max-width: 300px;
}

#cat-select{
	width: 100%;
}

.questionDiv{
	margin-bottom: 20px;
	font-size: 20px;
}

.questionNavigation{
	margin-top: 20px;
}
.answerDiv label:hover{
	color: yellow;	
}

html{
    position:relative;
    background-color: lightgray;
    min-height: 100%;
}

body{
    margin: 0 0 100px;
    padding: 15px;
}

body > h1{
	text-align: center;
}

footer{
    position:fixed;
    bottom:0;
    height:90px;
    width:98%;
    overflow:hidden;
    background-color: #333333;
	border-radius: 25px;
}
footer span{
	display: block;
	margin-left: 20px;
	color : #ffffff;
}
footer span > strong{
	font-size: 20px;
}
