extends sublayout

block content
    h1 Examen: CSS
    section.container
        form.question-form
            div.questionDiv
              span#question Que signifie l'acronyme CSS?
            div.answerDiv
                div
                    input(
                        type="radio",
                        name="answer",
                        value="0",
                        id="answer-0"
                    )
                    label(
                        for="answer-0"
                    ) Cascading Style Sheet
                div
                    input(
                        type="radio",
                        name="answer",
                        value="1",
                        id="answer-1"
                    )
                    label(
                        for="answer-1"
                    ) Current Skin Style
                div    
                    input(
                        type="radio",
                        name="answer",
                        value="2",
                        id="answer-2"
                    )
                    label(
                        for="answer-2"
                    ) Counter-Strike: Source
            div.questionNavigation
              button(
                  type="button",
                  onclick="redirect('exampage1')"
              ) Précédent
              button(
                  type="button",
                  onclick="redirect('examscore')"
              ) Terminer