extends sublayout

block content

    h1 Examen: JavaScript
    section.container
        form.question-form
            div.questionDiv
              span#question Est-ce que JavaScript est associé à Java? 
            div.answerDiv
                div
                    input(
                        type="radio",
                        name="answer",
                        value="0",
                        id="answer-0"
                    )
                    label(
                        for="answer-0"
                    ) Oui
                div
                    input(
                        type="radio",
                        name="answer",
                        value="1",
                        id="answer-1"
                    )
                    label(
                        for="answer-1"
                    ) Non
                
            div.questionNavigation
              button(
                  type="button",
                  onclick="redirect('examscore')"
              ) Abandonner
              button(
                  type="button",
                  onclick="redirect('exampage2')"
              ) Suivant