extends layout

block content
    h1 Résultat
        section.finalScore
            span#score 100%
        button(
            id = "score-button",
            type="button",
            onclick="redirect('dashboard')"
        ) Tableau de bord