extends layout

block content
    block stats
        section#stats-section
            table#statsTable
                    caption.statsCaption
                        h3 Tableau récapitulatif 
                    thead
                        tr
                            th Statistique
                            th Valeur
                        tr
                        tbody
                            tr
                                td Ratio de réussite
                                td 5/7
                            tr
                                td Moyenne des examens
                                td 90%
            a( href = "#modal" class="detail-button") Details
            div( id='modal')
                a( href="#", class="cancel") &times
                table#statsTable
                    caption.statsCaption
                        h3 Notes détaillées
                    thead
                        tr
                            th Examen
                            th Valeur
                        tr
                        tbody
                            tr
                                td Examen 1
                                td 100 %
                            tr
                                td Examen 2
                                td 80 %
                            tr
                                td Examen 3
                                td 45 %
                            tr
                                td Examen 4
                                td 420 %
                            tr
                                td Examen 5
                                td 75 %
                            tr
                                td Examen 6
                                td 99 %
            a(href="#" id="cover")
