extends sublayout

block content
    h1 Test Rapide: JavaScript
    section.container
        form.question-form
            div.questionDiv
              div#question Est-ce que JavaScript est associé à Java? 
              div#grade Score courant: 1/2
            div.answerDiv
                div
                    input(
                        type="radio",
                        name="answer",
                        value="0",
                        id="answer-0"
                    )
                    label(
                        for="answer-0"
                    ) Oui
                div
                    input(
                        type="radio",
                        name="answer",
                        value="1",
                        id="answer-1"
                    )
                    label(
                        for="answer-1"
                    ) Non
                
            div.questionNavigation
              button(
                  type="button",
                  onclick="redirect('testpage1')"
              ) Précédent
              button(
                  type="button",
                  onclick="redirect('examscore')"
              ) Terminer
    