extends sublayout

block content
    h1 Test Rapide
    section.container
        form.question-form
            div.questionDiv
              div#question Que signifie l'acronyme HTML? 
              div#grade Score courant: 0/1
            div.answerDiv
                div
                    input(
                        type="radio",
                        name="answer",
                        value="0",
                        id="answer-0"
                    )
                    label(
                        for="answer-0"
                    ) HyperLinks and Text Markup Language
                div
                    input(
                        type="radio",
                        name="answer",
                        value="1",
                        id="answer-1"
                    )
                    label(
                        for="answer-1"
                    ) HyperText Markup Language
                div    
                    input(
                        type="radio",
                        name="answer",
                        value="2",
                        id="answer-2"
                    )
                    label(
                        for="answer-2"
                    ) Home Tool Markup Language
            div.questionNavigation
              button(
                  type="button",
                  onclick="redirect('dashboard')"
              ) Tableau de bord
              button(
                  type="button",
                  onclick="redirect('testpage2')"
              ) Suivant
