extends sublayout

block content
    h1="Tableau de Bord"
    section.btn-options
        h1 Test Rapide
        button#test-btn(
            class='custom-btn'
            name='Test Rapide'
            type='button',
            onclick='startTest("testPage1")'
        ) Test Rapide
    section.btn-options
        h1 Examen 
        p Explication de quelquechose 
        div#cpmt
            select#cat-select
                option(value='-') Catégorie
                option(value='html')='HTML'
                option(value='css')='CSS'
                option(value='js')='JavaScript'
            input#exam-num(
                type='number',
                placeholder='Nombre de questions',
                min=0,
                max=4,
            )
            button#exam-btn(
                type='button'
                name='examen-btn'
                class='other-class',
                onclick='startExamClick()'
            ) Examen 
    script.
        QuizAjax.getUser(function(userObject){
            BindDashboardButtons(userObject);
            LoadUserStats(userObject);
        });
        QuizAjax.getQuestionCount(LoadQuestionCount);
        $(document).ready(function(){
            $("#cat-select").on('change', SetSelectionMax);
            $("#exam-num").on("input", VerifyMax);
        });
    
