extends layout

block content
    h1 Résultat
        section.finalScore
            span#score #{score} / #{total}
        button(
            id = "score-button",
            type="button",
            onclick="redirect('/dashboard')"
        ) Tableau de bord
    script.
        $(document).ready(function(){
            // Calculate the score
        });
