extends sublayout

block content

    h1 Examen: JavaScript Index : #{index}
    section.container
        form.question-form
            div.questionDiv
              span#question #{question.question} 
            div.answerDiv
                div(draggable="true", dragstart="EmilioDrag(event);")
                    span(id="answer-0") #{question.reponse[0]}
                div(draggable="true", dragstart="EmilioDrag(event);")
                    span(id="answer-1") #{question.reponse[1]}
                div(draggable="true", dragstart="EmilioDrag(event);")
                    span(id="answer-2") #{question.reponse[2]}
            div.submitArea(
                  ondrop="EmilioDrop(event)",
                  ondragover="allowDrop(event);"
            )    
            div.questionNavigation
              button(
                  type="button",
                  onclick="redirect('examscore')"
              ) Abandonner
              button(
                  type="button",
                  onclick="NextExamQuestion()"
              ) Suivant
    script.
        $(document).ready(function(){
            var dragItems = document.querySelectorAll('[draggable=true]');
            for (var i = 0; i < dragItems.length; i++) {
                console.log('Item :' + dragItems[i]);
                dragItems[i].addEventListener('dragstart', EmilioDrag);
            }
            var exams = GetLocalStorageObject("ExamQuestions");
            if (exams == null){
                redirect('/dashboard');
                return;
            }
            var idx = localStorage.getItem("ExamIndex");
            //LoadExamQuestion(idx);  
            //localStorage.setItem("examIndex",examIndex);      
            //var domain = localStorage.getItem("domain-choice");
            //var number = parseInt(localStorage.getItem("number-choice"));
            //getExamQuestions(function(){
            //    var oQuestions = JSON.parse(localStorage.getItem("ExamQuestions"));
            //    cExamArray = new Array(oQuestions.length);
            //    cExamArray.fill(0);
            //    LoadExamQuestion(examIndex);  
            //}, domain, number);
        })
