extends sublayout

block content

    h1 Examen: JavaScript
    section.container
        form.question-form
            div.questionDiv
              span#question Est-ce que JavaScript est associé à Java? 
            div.answerDiv
                div
                    input(
                        type="radio",
                        name="answer",
                        value="0",
                        id="answer-0"
                    )
                    label(
                        for="answer-0"
                    ) Oui
                div
                    input(
                        type="radio",
                        name="answer",
                        value="1",
                        id="answer-1"
                    )
                    label(
                        for="answer-1"
                    ) Non
                div
                    input(
                        type="radio",
                        name="answer",
                        value="2",
                        id="answer-2"
                    )
                    label(
                        for="answer-2",
                        draggable="true"
                    ) LOL- JavaScript...
            div.submitArea(
                  ondrop="OnDropExam(event);",
                  ondragover="allowDrop(event);"
            )    
            div.questionNavigation
              button(
                  type="button",
                  onclick="redirect('examscore')"
              ) Abandonner
              button(
                  type="button",
                  onclick="NextExamQuestion()"
              ) Suivant
    script.
        $(document).ready(function(){
            var exams = GetLocalStorageObject("ExamQuestions");
            if (exams == null){
                redirect('/dashboard');
                return;
            }
            var idx = localStorage.getItem("ExamIndex");
            LoadExamQuestion(idx);  
            //localStorage.setItem("examIndex",examIndex);      
            //var domain = localStorage.getItem("domain-choice");
            //var number = parseInt(localStorage.getItem("number-choice"));
            //getExamQuestions(function(){
            //    var oQuestions = JSON.parse(localStorage.getItem("ExamQuestions"));
            //    cExamArray = new Array(oQuestions.length);
            //    cExamArray.fill(0);
            //    LoadExamQuestion(examIndex);  
            //}, domain, number);
        })