extends layout

block content
    h1 Page d'Accueil
    section.container
        img(
            id="mainImage",
            src="https://i.imgur.com/Q3cUg29.gif",
            alt="image"
        )
        h2 Bienvenue sur WebQuiz
        p(
            id = "summary"
        ) Le site de WebQuiz permet de tester vos connaissances sur tout ce qui est technologie web.<br> Le site offre deux modes de test : "TEST RAPIDE " et " EXAMEN ".<br> Pour des informations plus détaillées, visitez la Page d'Instructions.
