doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='https://code.jquery.com/jquery-2.2.4.js')
    script(src='/js/jquery-2.2.4.js')
    script(src='/js/basic.js')
    script(src='/js/QuizAjax.js')
  body
      nav.navbar-inner(role='navigation')
        img(src='/images/logo.png', class='logo')
        a(href='/index') Accueil
        a(href='/Dashboard') Tableau de bord
        a(href='/instructions')="Page d'instructions"
        a(href='/createquestion')="Creation de Questions"
      block content
      block stats
      footer
        span <strong>Emilio Rivera, 1689355 </strong>  
        span <strong>Nikolay Radoev, 1683742 </strong> 
        span <strong>Groupe 17</strong>
