extends layout

block content
    block stats
        section#stats-section
            table#statsTable.mainTable
                    caption.statsCaption
                        h3 Tableau récapitulatif 
                    thead
                        tr
                            th Statistique
                            th Valeur
                        tr
                        tbody
                            tr#randomStats
                                td Ratio de réussite
                                td#randomStatsValue N/A
                            tr
                                td Moyenne des examens
                                td#examStats N/A
            a( href = "#modal" class="detail-button") Details
            button.detail-button(
                type='button',
                name='clearButton',
                class='detail-button',
                onClick='ClearLocalStorage()'
            ) Reset
            div( id='modal')
                a( href="#", class="cancel") &times
                table#statsTable
                    caption.statsCaption
                        h3 Notes détaillées
                    thead
                        tr
                            th Examen
                            th Valeur
                        tr
                        tbody#examBody
            a(href="#" id="cover")
        script.
            $(document).ready(function(){
                QuizAjax.getUser(function(userObject){
                    UpdateExamStats(userObject);
                    LoadUserStats(userObject);
                });
            });
