extends sublayout

block content
    h1 Test Rapide
    section.container
        form.question-form
            div.questionDiv
              div#question Que signifie l'acronyme HTML?
              div#domain HTML 
            div.answerDiv
                div
                    input(
                        type="radio",
                        name="answer",
                        value="0",
                        id="answer-0"
                    )
                    label(
                        for="answer-0",
                        draggable="true"
                    ) HyperLinks and Text Markup Language
                div
                    input(
                        type="radio",
                        name="answer",
                        value="1",
                        id="answer-1"
                    )
                    label(
                        for="answer-1",
                        draggable="true"
                    ) HyperText Markup Language
                div
                    input(
                        type="radio",
                        name="answer",
                        value="2",
                        id="answer-2"
                    )
                    label(
                        for="answer-2",
                        draggable="true"
                    ) Home Tool Markup Language
            div.submitArea(
                  ondrop="OnDrop(event);",
                  ondragover="allowDrop(event);"
            )
            div.questionNavigation
              button(
                  type="button",
                  onclick="redirect('dashboard')"
              ) Tableau de bord
              button(
                  type="button",
                  onclick="NextQuestion()"
              ) Suivant
    script.
        QuizAjax.getRandomQuestion(LoadTestQuestion);
        //getRandomQuestion(LoadTestQuestion);
        
