extends sublayout

block content
    h1="Tableau de Bord"
    section.btn-options
        h1 Test Rapide
        button#test-btn(
            class='custom-btn'
            name='Test Rapide'
            type='button',
            onclick='startTest("testPage1")'
        ) Test Rapide
    section.btn-options
        h1 Examen 
        p Explication de quelquechose 
        div#cpmt
            select#cat-select
                option(value='html')='HTML'
                option(value='css')='CSS'
                option(value='js')='JavaScript'
            input#exam-num(
                type='number',
                placeholder='1',
                value = 1,
                min=0,
                max=4,
            )
            button#exam-btn(
                type='button'
                name='examen-btn'
                class='other-class',
                onclick='startExam("exampage1")'
            ) Examen 
    script.
        $(document).ready(function(){
            UpdateExamAverage();
        });
    