extends layout

block content
    h1 RESULTAT
        div#message Résultat
        section.finalScore
            span#score 44%
        button(
            id = "score-button",
            type="button",
            onclick="redirect('dashboard')"
        ) Tableau de bord
    script.
        $(document).ready(function(){
            // Calculate the score
            var cExamArray = JSON.parse(localStorage.getItem("examArray"));
            var percentage;
            var domain = (localStorage.getItem("domain-choice"));
            if(cExamArray == null){
                percentage = 0;
                alert("NO cExamArray");
            } else{
                var sum = cExamArray.reduce(function(a, b) { return a + b; }, 0);
                var total = cExamArray.length;
                percentage = sum/total*100;
                if(JSON.parse(localStorage.getItem("abandon")) == true ){
                    sum = 0;
                }
            }

            var result = {dom: domain, score: sum, totalValue: total};
            var allResults = JSON.parse(localStorage.getItem("results"));
            if(allResults == null){
                allResults = [];
            }
            var message = "";
            if(percentage <=25){
                message ="Va a l'ETS";
            } else if( percentage <=50){
                message ="Bonne chance la prochaine fois";
            } else if( percentage <=75){
                message ="Bon resultat";
            } else{
                message ="Excellent!... nerd";
            }
            $("#message").text(message);

            allResults.push(result);
            localStorage.setItem("results",JSON.stringify(allResults)); 
            percentage = percentage.toPrecision(3);
            $("#score").html(percentage + "%");
            localStorage.removeItem("abandon");
        });