a {
  color: #00B7FF;
}

.logo{
	display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 80px;
    margin-right: 10px;
}

.navbar-inner{
	width: 100%;
	height: 80px;
	background-color: #333333;
	border-radius: 25px;
}
.navbar-inner > a{
	display: inline-block;
	color : #ffffff;
	vertical-align: center;
	margin-right: 20px;
	margin-top: 3px;
	line-height: 70px;
	text-decoration: none;	
}

.navbar-inner > a:visited{
	color: #cc3399;
}

.navbar-inner a.current{
	border: 2px solid #5a827f;
  	border-radius: 10px;
  	padding-left: 5px;
  	padding-right: 5px;	
  	background-color: #666666;
	color : #FFF;
}



#mainImage{
    max-width: 400px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

#summary{
	text-align: center;
}

.container > h2{
	text-align: center;
}

.question-form{
	width: 45%;	
    background-color: #878787;
	border-radius: 15px;
	text-align: center;
	padding-bottom: 10px;
}

.image-container{
	float:right;
	border: solid 1pt;
	width: 200pt;
	height: 200pt;
	margin-left: 20px;
}
.floatting-image{
	width: 100%;
}

.container > article{
	overflow: hidden; 
	border-radius: 15px;
}
.container > article p,h1{
	margin-left: 20px;
}
.container > article:hover{
	background-color: white;
}

.finalScore{
	text-align: center;
}
.finalScore + #button{
	margin:0 auto;
    display:block;
}

#score{
	display: inline-block;
}


#dash > a > button{
    width: 233px;
}

#stats-section{
	position: absolute;
	top:120px;
	right: 10px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: #00cc00;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Helvetica,sans-serif;
}
tr:hover {
    background-color: #f5f5f5
}
tr:nth-child(even) {
    background-color: #f2f2f2
}



#score{
    font-size: 500%;
}

section.btn-options{
	width: 45%;	
    background-color: #878787;
	border-radius: 15px;
	text-align: center;
	padding-bottom: 10px;
}

.btn-options button{
	width: 100%;
	max-width: 300px;
	border-radius: 5px;
	border: solid #000000 1px;
}

.btn-options button:hover{
	background-color: #00cc00;
}

#cpmt{
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}

#cat-select{
	width: 48%;
	display: inline-block;
	float: left;
	margin-right: 1%;
	border: solid #000000 1px;
}
#exam-num{
	width: 48%;
	display: inline-block;
	float: right;
	margin-left: 1% ;
	border: solid #000000 1px;
}

#exam-btn{
	margin-top: 5px;
}

.questionDiv{
	margin-bottom: 20px;
	padding-top: 10px;
}

.questionNavigation{
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
}

.questionNavigation button{
	height: 40px;
	width: 135px;
	border-radius: 5px;
	margin-right: 20px;
	border: solid #000000 1px;
}

.questionNavigation button:hover{
	background-color: #00CC00;
}

#question{
	color : #bfec18;
	font-size: 25px;
	font-weight: bold;
}

.answerDiv{
	width: 60%;
	margin: 0 auto;
	text-align: left;
}

.answerDiv div{
	margin-top: 5px;
}

.answerDiv label:hover{
	color: yellow;	
}

html{
    position:relative;
    background-color: lightgray;
    min-height: 100%;
}

body{
  	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0 0 100px;
    padding: 5px 15px 15px 15px;
}

body > h1{
	text-align: center;
}

footer {
    position:fixed;
    bottom:0;
    width:98%;
    overflow:hidden;
    margin: 0;
    background-color: #333333;
	border-radius: 15px;
}

footer > p{
    margin-top: 10px;
}

footer span{
	display: block;
	margin-left: 20px;
	color : #ffffff;
}
footer span > strong{
	font-size: 20px;
}

@media screen and (max-width: 768px){
	#stats-section{
		position: relative !important;
	}
	section.btn-options, .question-form{
		width: 100% !important;
	}

	nav.navbar-inner{
		height: auto !important;
		padding-bottom: 10px !important;
	}
	.navbar-inner a{
		display: block;
		line-height: 30px !important;
		margin-left: 10px !important;
		margin-right: 10px !important;
		text-align: center !important;
	}
	.navbar-inner img.logo{
		display: block !important;
		
		margin: 0 auto !important;
	}
}


#modal{
	height:380px; 
	width:340px; 
	margin:0 auto; 
	position:fixed; 
	z-index:10; 
	display:none; 
	background-color: white;
	left: 50%;
	top : 50%;
	margin-left: -170px;
	margin-top: -190px;
	border:5px solid #cccccc; 
	border-radius:10px; 
} 
#modal:target, #modal:target + #cover
{ 
	display:block; 
	opacity:2; 
}
.cancel { 
	display:block; 
	position:absolute; 
	top:3px; right:2px; 
	background:rgb(245,245,245); 
	color:black; 
	height:30px; 
	width:35px; 
	font-size:30px; 
	text-decoration:none; 
	text-align:center; 
	font-weight:bold; 
}

#cover{ 
	position:fixed; 
	top:0; 
	left:0; 
	background:rgba(0,0,0,0.8); 
	z-index:5; 
	width:100%; 
	height:100%; 
	display:none; 
} 
.detail-button{
	width: 100px;
	display: block;
	position: relative;
	margin : 0 auto;
	margin-top: 10px;
	padding: 10px;
	background-color: #00CC00;
	color : #FFFFFF;
	text-decoration: none;
	text-align: center;
}