title="Création de question"
h1="Create a question"
section(*ngIf="question")
    h1 Test
    label(
        for="question"
    ) Question à créer
    br
    input(
        name="question",
        class="questionInput",
        type="text",
        id="questionInput",
        placeholder="Quel est la couleur du cheval blanc de Napoléon?"
        required
    )
    div
        select#catSelect
            option(value='-') Catégorie
            option(value='html')='HTML'
            option(value='css')='CSS'
            option(value='js')='JavaScript'
    div.answerGroup
         input#radio0(
             name="answerGroup",
             type="radio",
             value="radio0"
             required
         )
         input#text0(
             name="text0",
             type="text",
         )
    div.answerGroup
         input#radio1(
             name="answerGroup",
             type="radio",
             value="radio1"
         )
         input#text1(
             name="text1",
             type="text"
         )
    div.answerGroup
         input#radio2(
             name="answerGroup",
             type="radio",
             value="radio2"
         )
         input#text2(
             name="text2",
             type="text",
         )
    div
        button#submit-btn(
            type='button',
            name='submit-btn',
            (click)="createQuestion()"
        ) Submit 
    button#delete-questions-btn(
        type="button",
        name="delete-btn",
        onclick='QuizAjax.deleteAllQuestions(Identity)'
    ) Delete All Questions !!!
style.
    .answerGroup{

    }
    #submit-btn{
        margin: 0 auto;
    }
script.
    $(document).ready(function(){
        $("#submit-btn").on('click', function(e){
            e.preventDefault();
            var valid = ValidateCreateQuestion(this);
            if (valid == false){
                return false;
            }
            var theQuestion = $("#questionInput").val();
            var text0 = $("#text0").val();
            var text1 = $("#text1").val();
            var text2 = $("#text2").val();
            var category = $("#catSelect").val();
            var goodAnswer = $("input[type='radio']").filter(function(){ return $(this).is(':checked')})[0].value.split('radio')[1];
            if (valid){
                var obj = {
                    question: theQuestion,
                    category: category,
                    text0: text0,
                    text1: text1,
                    text2: text2,
                    answer_index: goodAnswer
                }
                SendCreateQuestionAjax(function(res){
                        alert('SUCCESS' + res);
                    },
                    function(){alert('YOU DONE GOOFED');},
                    obj);
            }
            return false;
        });
        
    });
    function ValidateCreateQuestion(something){
        var $questionField = $('#questionInput');
        if ($questionField.val() == ""){
            alert('La question ne peut être vide');
            $questionField.focus();
            return false;
        }
        
        var c = $(".answerGroup input[type='text']");
        var nonEmpty = c.filter(function(){return $(this).val() != "";});
        if (nonEmpty.length < 3){
            alert('Toutes les reponses sont requises');
            c.first(function(){$(this).val() == "";}).focus();
            return false;
        }
        
        if(!$("input[type='radio']").is(':checked')) { alert('Veuillez sélectionner la bonne réponse');return false; }
        
        var $catSelect = $("#catSelect");
        if ($catSelect.val() == '-'){
            alert('Veuillez sélectionner la catégorie de la question');
            $catSelect.focus();
            return false;
        }
        
        return true;
    }
    
    function SendCreateQuestionAjax (fCallback, fErrorCallback, obj) {
        $.ajax({
            type: "POST",
            url: "/question",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "text json",
            success: function (res) {
                fCallback(res);
            },
            error: function (jqXHR, errorInfo, exception, status) {
                fErrorCallback(jqXHR, errorInfo, exception, status);
            }
    });
   }
