block content
    my-stats-component
    h1="Tableau de Bord"
    section.btn-options
        h1 Test Rapide
        button#test-btn(
            class='custom-btn'
            name='Test Rapide'
            type='button',
            routerLink='/quicktest'
        ) Test Rapide
    section.btn-options
        h1 Examen 
        p Explication de quelquechose 
        div#cpmt           
            select#cat-select((change)="getQuestionCount($event.target.value)")
                option(value='-')=Catégorie
                option(value='html')='HTML'
                option(value='css')='CSS'
                option(value='js')='JavaScript'
            input#exam-num(
                type='number',
                placeholder='Nombre de questions',
                min=0,
                max=3,
            )
            button#exam-btn(
                type='button'
                name='examen-btn'
                class='other-class',
                routerLink='/exam'
            ) Examen 

