h1="Utilisation du site"
section.container
    div(
        id='instruction-image',
        class='image-container'
    )
        img(
            class ='floatting-image',
            src ='images/instructions.png'
        )
    article#tRapide
        h1 Test Rapide
        p Le mode Test Rapide permet à l'utilisateur de faire des exercices sur les différentes technologies du Web. Le choix des questions est aléatoire et l'utilisateur peut, à chaque moment, revenir en arrière et changer sa réponse à une question déjà posée. À la fin du test, le résultat est affiché.
    article#Examen
        h1 Examen
        p Le mode Examen permet à l'utilisateur d'effectuer en examen complet sur ces connaissances en Web. L'examen porte sur une matière précise et le nombre de questions à poser peut être choisi par l'utilisateur. Celui-ci ou celle-ci peut, à chaque moment, revenir en arrière et changer sa réponse à une question déjà posée. À la fin de l'examen, le résultat est affiché.
    article#Navigation
        h1 Navigation
        p Deux moyens de naviguer sur le site : avec la barre de navigation ou avec les boutons. Les boutons utilisent JavaScript (dans le fichier <em>basic.js</em>)afin de rediriger le fureteur grâce à <em>window.location</em> tandis que la barre de navigation est constituée uniquement d'éléments <em>a</em>.
    article#Reponses
        h1 Réponses aux quéstions
        p Bien que les réponses ne soient pas encore enregistrées et conséquemment que les scores soient statiques, un élément <em>form</em> est placé pour utilisation ultérieure. Lorsque les <em>form</em> voudront être utilisées, il ne suffira que de changer le type de bouton pour <em>submit</em>.
