doctype html
html
  head
    base(href="/")
    title= title
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="node_modules/core-js/client/shim.min.js")
    script(src="node_modules/zone.js/dist/zone.js")
    script(src="node_modules/reflect-metadata/Reflect.js")
    script(src="node_modules/systemjs/dist/system.src.js")

    script(src="systemjs.config.js")
    script System.import('app').catch(function(err){ console.error(err); });
  body
      block content
      block stats
      footer
        span <strong>Emilio Rivera, 1689355 </strong>  
        span <strong>Nikolay Radoev, 1683742 </strong> 
        span <strong>Groupe 17</strong>
