nav.navbar-inner(role='navigation')
  img(src='/images/logo.png', class='logo')
  a(routerLink="/accueil", routerLinkActive="active") Accueil
  a(routerLink="/dashboard", routerLinkActive="active") Tableau de bord
  a(routerLink="/instructions", routerLinkActive="active")="Page d'instructions"
  a(routerLink="/createquestion", routerLinkActive="active")="Creation de Questions"
router-outlet
