h1 Test Rapide
section.container.question-form
  div.questionDiv(*ngIf="currentQuestion")
    div#question {{currentQuestion.question}}
    div#domain {{currentQuestion.domain}}
  div.answerDiv
    div(*ngIf="currentQuestion")
      li(*ngFor="let item of currentQuestion.answers; let i = index")
        div
            input(
                type="radio",
                name="answer",
                value="{{i}}",
                id="answer-{{i}}"
            )
            label(
                htmlFor="answer-{{i}}",
                attr.answerid="{{i}}",
                draggable="true",
                (dragstart)="dragstart($event)"
            ) {{item}}
  div.submitArea(
        (drop)="drop($event);",
        (dragover)="allowDrop($event);"
  )
  div.questionNavigation
    button(
        type="button",
        routerLink="/dashboard"
    ) Tableau de bord
    button(
        type="button",
        (click)="getRandomQuestion()"
    ) Skip


