section#stats-section
    div(*ngIf="stats")
        h1 Hi {{stats.user_name }} !
    table#statsTable.mainTable
            caption.statsCaption
                h3 Tableau récapitulatif 
            thead
                tr
                    th Statistique
                    th Valeur
                tr
            tbody
                tr#randomStats
                    td Ratio de réussite
                    td#randomStatsValue {{stats?.good_test}} / {{stats?.total_test}}
                tr
                    td Moyenne des examens
                    td#examStats {{stats?.average}}
    a( href = "#modal" class="detail-button") Details
    button.detail-button(
        type='button',
        name='clearButton',
        class='detail-button',
        onClick='ClearLocalStorage()'
    ) Reset
    div( id='modal')
        a( href="#", class="cancel") &times
        table#statsTable
            caption.statsCaption
                h3 Notes détaillées
            thead
                tr
                    th Examen
                    th Valeur
                tr
            tbody#examBody(*ngIf="stats")
                tr(*ngFor="let exam of stats.exams;let i = index")
                    td {{i}}
                    td {{examAverage(exam)}}
    
        a(href="#" id="cover")
script.
    $(document).ready(function(){
        QuizAjax.getUser(function(userObject){
            UpdateExamStats(userObject);
            LoadUserStats(userObject);
        });
    });
